@charset "utf-8";
/* CSS Document */

.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: none;
}

.modal-content {
	width: 500px;
	height: 300px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	padding: 20px;
	position: relative;
}

input {
	width: 50%;
	display: block;
	margin: 15px auto;
}

.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

.button {
  background-color: #35772E;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.modal-header{
	text-align: center;
	display: block;
}

.modal-content2 {
	width: 800px;
	height: 600px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	padding: 20px;
	position: relative;
}

.modal-footer {
	background-color: #35772E;
  	border-radius: 15px;
 	color: white;
 	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
}

.card-body {
	text-align: center;
}

.card-title{
	background: white;
}

.card-text{
	background: white;
}

.jumbotron{
	height: 100px;
	text-align: center;
	align-content: center;
	align-items: center;
}
.bg-primary{
	background: #1B6623 !important;
}

.bg-secondary{
	background: #343A40 !important;
}

.info-text{
	color: white;
}


